.page {
    background-image: url("../images/robot.jpeg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
/* .galleryBackground {
    background-repeat: no-repeat;
    background-image: url("../images/Gallery Background.jpeg");
} */

.softwares {
    background-color: #0A0A0A;
}
